In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
from keras.callbacks import History
import numpy as np

In [2]:
df = pd.read_pickle('pickle_files/cleaned_nasdaq_dataframe.pkl')

In [3]:
df.head()

,ADBE,ADP,ABNB,GOOGL,GOOG,AMZN,AMD,AEP,AMGN,ADI,...,TSLA,TXN,TTD,VRSK,VRTX,WBA,WBD,WDAY,XEL,ZS
date,,,,,,,,,,,,,,,,,,,,,
2024-03-15 09:30:00,501.989990,243.600006,164.570007,142.264999,143.419998,176.991501,185.992493,82.400002,275.149994,191.440002,...,164.330002,169.710007,77.705002,232.470001,409.800110,20.809999,8.6200,269.355011,52.060001,196.783096
2024-03-15 09:32:00,502.621094,243.720001,164.720001,142.289993,143.449997,177.115005,186.282898,82.367500,273.915009,191.800003,...,164.869995,169.520004,77.680000,232.529999,410.170013,20.819901,8.6350,269.299988,51.990002,196.160004
2024-03-15 09:34:00,500.209991,242.940002,164.639999,142.199997,143.360001,177.263000,186.438004,82.550003,273.809998,191.809998,...,163.740005,170.380005,77.680000,232.860001,410.440002,20.760000,8.6000,270.269989,52.060001,196.580002
2024-03-15 09:36:00,501.208588,242.710007,164.904999,142.029999,143.229996,176.850006,186.039993,82.620003,273.799988,191.169998,...,164.457993,170.008194,77.599998,232.610001,411.549988,20.879999,8.6600,270.000000,52.125000,197.100006
2024-03-15 09:38:00,501.970001,242.770004,163.869995,141.750000,142.969894,176.444107,186.929993,82.574997,274.320007,190.562500,...,164.210007,169.440002,77.190002,232.979996,410.840088,21.020000,8.6021,269.839996,52.130001,196.320007

In [6]:
corr_df = pd.read_pickle('pickle_files/correlationvalues_array.pkl')
corr_df.shape

(91, 91)

In [7]:
df_maxcorr= pd.read_pickle('pickle_files/df_maxcorr_pair.pkl')
df_maxcorr

['KDP', 'CCEP']